* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

body {
    background-image: url("http://t2.gstatic.com/licensed-image?q=tbn:ANd9GcSnfWssEmWYrQDh-4O6ikdoXW_esZt5lCoorXFX6hl7AfkznPIcQ_9_VpIPE0slr2td21gzRQ1PLwRRiBzkZmI");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg ,rgba(241, 84, 57, .93) 0%, rgb(245, 51, 93, .93) 100%);
    z-index: -1;
}

p {
    cursor: pointer;
}

.container {
    background-color: rgba(255, 255, 255, 0.04);
    border: 2px solid #fff;
    padding: 40px 30px;
    width: 40%;
    min-width: 500px;
    max-height: 650px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.backContainer {
    background-color: #eaeaea;
    border-radius: 5px;
}

.new-task-container {
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    display: flex;
}

.new-task-input {
    flex: 3;
    padding: 12px;
    height: 100%;
    font-weight: 500;
    font-size: 1rem;
    border:2px solid #d1d3d4;
}
.new-task-input:focus {
    outline: none;
    border: 2px solid #41b883;
    color: #5a5a5a
}

.new-task-button {
    flex: 1;
    border: none;
    font-weight: 500;
    color: #fff;
    border-radius: 5px ;
    background-color: #41b883;
    margin-left: 12px;
    font-size: 1rem;
    height: 100%;
    padding: 12px;
    cursor: pointer;
}
.new-task-button:hover, .delete-button:hover {
    background-color: #30855e;
    transform: translateY(-1px);
}
.new-task-button:active, .delete-button:active {
    background-color: #5de2a6;
    transform: translateY(1px);
}

.tasks-container {
    display: flex;
    flex-direction: column-reverse;
    max-height: 400px;
    overflow: auto;
    background-color: #fff;
    height: 100%;
    margin-top: 60px;
    padding: 30px 20px;
    border-radius: 5px ;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.error {
    border: 2px solid red !important;
}
.error::placeholder {
    color: red;
}

.task-item {
    display: flex;
    padding-bottom: 15px;
}
.task-item:not(:last-child) {
    padding-top: 15px;
    border-top: 2px solid #d1d3d4;
}
.task-item:first-child {
    border-bottom: 2px solid #d1d3d4;
}
.task-item:first-child {
    padding-top: 15px ;
}

.task-texto {
    flex: 1;
    padding: 12px;
}

.delete-button {
    height: 100%;
    background-color: #41b883;
    border: none;
    color: #fff;
    padding: 12px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0 10px 10px 0; 
}

::-webkit-scrollbar-thumb {
    background: #41b883;
    border-radius: 0 5px 5px 0; 
}

::-webkit-scrollbar-thumb:hover {
    background: #30855e; 
}

@media screen and (max-width: 540px) {
    * {
        font-size: 12px;
    }

    .container {
        background-color: rgba(255, 255, 255, 0.04);
        border: 2px solid #fff;
        padding: 30px 20px;
        width: 35%;
        min-width: 300px;
        max-height: 650 px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    }

    .tasks-container {
        display: flex;
        flex-direction: column-reverse;
        max-height: 350px;
        overflow: auto;
        background-color: #fff;
        height: 100%;
        margin-top: 50px;
        padding: 25px 15px;
        border-radius: 5px ;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    }

    .new-task-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .new-task-button {
        margin-top: 10px;
    }
}

@media screen and (max-height: 675px) {
    .tasks-container {
        display: flex;
        flex-direction: column-reverse;
        max-height: 200px;
        overflow: auto;
        background-color: #fff;
        height: 100%;
        margin-top: 50px;
        padding: 25px 15px;
        border-radius: 5px ;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    }

}

@media screen and (max-width: 320px) {
    * {
        font-size: 9px;
    }

    .container {
        background-color: rgba(255, 255, 255, 0.04);
        border: 2px solid #fff;
        padding: 30px 20px;
        width: 35%;
        min-width: 250px;
        max-height: 650px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    }
}
